.profile-delete {
    text-align: left;
    
}

.delete-profile-button{
    padding: 1 3rem 1 3rem;
    background: transparent;
    border: solid 1px whitesmoke;
}

.delete-profile-button:hover {
  background-color: rgb(225, 225, 225, 0.4);
  color: white;
  font-weight: 600;
  border : solid 2px white;
}